body {
	background-image: url("wallpaper.jpg");
	background-attachment: fixed;
	background-size: auto;
	min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
	
}
#nav{
	top: 0;
	list-style-type: none;
	position: fixed; 
	margin: -8px;
	padding: 0;
	overflow: hidden;
	background-color: Black;
    cursor: pointer;
    width: 100%
}

#nav li{
	float: left;
}

#nav li a {
	color: white;
	text-align: center;
	text-decoration: none;
	display: block;
	padding: 14px 16px;
	font-family: 'Ubuntu', sans-serif;
	-webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
}

#nav li a:hover{
	background-color: #0099bf;
	color: black;
}

#part1{
	float: right;
	border:5px solid green;
	width: 500px;
}

.light{
	text-align: center;
}



	